body {
    font-family: Arial, sans-serif;
}

#search-bar {
    width: 100%;
    margin-bottom: 20px;
}

.product-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    text-align: center;
}

.product-item img {
    max-width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.product-item h5 {
    margin-top: 15px;
    font-size: 18px;
}

.product-item p {
    font-size: 14px;
    color: #777;
}

.product-item .btn {
    margin-top: 10px;
}
